*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #333;
    display: flex;
}
header .logo{
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    color: #03aaaa;
    margin-top: 15px; 
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.main{
    width: 100%;
    background-image: url(./images/image1.jpeg);
    background-position: center;
    background-size: cover;
    height: 600px;
    margin-top: 0px
}

.menu{
   float: left;
    height: 70px;
    padding: 0;
    gap: 1em;
    }

.menu ul{
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
            }
.menu ul li{
    list-style: none ;
    margin-left: 100px;
    margin-top: 26px;
    font-size: 20px;
}

.menu ul li a{
    text-decoration: none;
    color: #03aaaa;
}



.articles{
    
    background-color: #03aaaa;
    color: white;
    padding: 2em;
   text-align: center;
}

.articles h1{
    font-size: 45px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.articles p {
    font-size: 21px;
}

.article-describe{
    max-width: 1200px;
    margin: 32px auto;
    padding: 32px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.article article
    {
        margin-bottom: 2em;
    }

.article-describe h2
    {
        font-size: 40px;
        color: rgb(3, 170, 170);
         margin-bottom: 16px;
        
    }

    .article-describe p
    {
        font-size: 20px;
        color: black;
        line-height: 35px;
         margin-bottom: 16px;
        
    }

    .article-describe img.image-describe{
        width: 100%;
        height: auto;
        margin: 16px 0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


    .article-describe ul
    {
        font-size: 20px;
        color: black;
        line-height: 35px;
         margin-bottom: 16px;
            margin-left: 100px;
            line-height: 2em;
        
    }


    
   .article-describe p1
    {
        font-size: 20px;
        color: black;
        line-height: 35px;
         margin-bottom: 16px;
    }

    .article-details{
        max-width: 1200px;
        margin: 32px auto;
        padding: 32px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    }

    .article-details h2
    {
        font-size: 40px;
        color: rgb(3, 170, 170);
         margin-bottom: 16px;
        
    }

    .article-details p
    {
        font-size: 20px;
        color: black;
        line-height: 35px;
         margin-bottom: 16px;
        
    }

    .article-details img.image-details{
        width: 100%;
        height: auto;
        margin: 16px 0;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


    .article-details ul
    {
        font-size: 20px;
        color: black;
        line-height: 35px;
         margin-bottom: 16px;
            margin-left: 100px;
            line-height: 2em;
        
    }


    
   .article-details p1
    {
        font-size: 20px;
        color: black;
        line-height: 35px;
         margin-bottom: 16px;
    }
    
    .link{
        Max-width: 1200px;
        margin: 2em auto;
        padding: 1%;
        background-color: rgb(232, 232, 232);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        
    .link h1{
font-size: 1.5em;
line-height: 2em;
    }

    
.ref-link a {
    font-size: 20px; 
   
}

   

    .ref-link{
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    }

    

    footer {
        background-color: rgb(3, 170, 170);
        color: white;
        padding: 2em 0;
        text-align: center;
    }
    
    .footerlogo {
        font-size: 3em;
        font-weight: bold;
        flex: 1;
        text-align: center;
        margin-bottom: 1em;
    }
    
    .footercontent {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 1em;
        gap: 1.5em;
    }
    
    .footerbottom {
        background-color: rgb(3, 170, 170);
        padding: 1em;
        text-align: center;
        color: #4e4949;
        font-size: 0.9em;
    }